.site-header {
  background: #FFEAAA;
}

/* DONE: Float the main header to the left, to make room for the hamburger menu. */
.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

/* DONE: Add styles for the icon-menu class. It should be bigger, and off to the right. */
.icon-menu {
  display: inline-block;
  font-size: 3em;
}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}


@media only screen and (min-width: 960px) {
  .icon-menu {
    display: none;
  }

  .main-nav ul {
    display: block;
    text-align: center;
}

.main-nav li {
  display: inline;
}

.main-nav li a {
  display: inline;
  padding: 1.500em;
}

.headTitleGroup {
  justify-content: center;
  display: flex;
}


.site-header {
  max-width: 100%;
}

.heading-group-h1 {
  text-align: center;
}


}



/* TODO: Now add styles for how things should look on a larger screen:
         - Hide the hamburger.
         - Main should be all on one row, with padding spaced better for a larger screen.
         - Just, ya know, try to make it look good! */
/* @media only screen... */
