#filters select {
  width: 90%;
  margin: .2em 5%;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .icon-menu {
    display: none;
  }
  nav ul {
    display: unset;
  }
}

footer {
  margin-top: 5em;
}
